{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}





{% block content %}
  <h1>
    {% if object %}
      {% translate "Edit question" %} "{{ object.title }}"
    {% else %}
      {% translate "Add new question" %}
    {% endif %}
  </h1>
<div class="container d-flex justify-content-center align-items-center">

    <form action="" method="post" enctype="multipart/form-data">
      {{ form|crispy }}

      {% if formset %}
      <h3>{% translate "Options" %}:</h3>
        {{ formset.management_form }}
          {% for form in formset %}
              {{ form|crispy }}
          {% endfor %}
      {% endif %}
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">{% translate "Save question" %} </button>
    </form>
</div>
{% endblock %}
